{% extends 'index.html' %}

{% block header %}
    <h1>{% block title %}Books{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card-deck">
        {% for item in books %}
            <div class="card bg-warning">
                <div class="card-body text-center">
                    <h4 class="card-title">{{ item["title"] }}</h4>
                    <p class="card-text">{{ item["original_description"] }}</p>
                    <a href="{{ item['link'] }}" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
    
{% endblock %}