{% extends 'index.html' %}

{% block header %}
  <div class="container text-center" style="margin-top: 80px;">
    <h1>{% block title %}Log In{% endblock %}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <form method="post">
      <div class="form-group justify-content-center">
          <label for="inputEmail">Username</label>
          <input type="text" class="form-control" name="email" title="email" placeholder="Username" required/>
      </div>
      <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" name="password" title="password" placeholder="Enter Password" required/>
      </div>
      <a href="/auth/register">Don't have an account? Sign Up</a>
      <div style="margin-top: 20px;">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>

    </form>
  </div>
{% endblock %}
