{% extends 'index.html' %}

{% block header %}
  {% block title %}Log In{% endblock %}
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row justify-content-center" style="height: 100vh;">
      <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 text-center align-items-center">
        <form method="post">
            <div class="form-group">
                <h1>Log In</h1> 
            </div>
            <div class="form-group text-left">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" name="username" title="username" placeholder="Username" required/>
            </div>
            <div class="form-group text-left">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" name="password" title="password" placeholder="Enter Password" required/>
            </div>
            <div class="form-group">
              <a href="/auth/register">Don't have an account? Sign Up</a>
              <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Log In</button>
            </div>
        </form>
      </div>
    </div>
  </div>


{% endblock %}
