{% extends 'index.html' %}

{% block header %}
    <div class="container text-center" style="margin-top: 80px;">
        <h1>{% block title %}
            {% if books %}
                Books
            {% elif articles %}
                Articles
            {% elif courses %}
                Courses
            {% elif tracks %}
                Learning Tracks
            {% endif %}
        {% endblock %}</h1>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% for item in resources %}
            <div class="col-sm-4">
                <div class="card border-secondary" id="item-card">
                    <h5 class="card-header text-center" >{{ item["title"] }}</h5>
                
                    <div class="card-body">
                        <p class="card-text">{{ item["original_description"] }}</p>
                        <a href="{{ item['link'] }}" class="stretched-link" data-toggle="tooltip" title="Open the Resource" target="_blank"></a>
                        {% for tech in item['tech_stack'] %}
                            <span class="badge badge-info">{{ tech }}</span>
                        {% endfor %}
                       
                    </div>

                    <div class="card-footer" style="z-index: 2;">
                        <div class="d-flex m-2 cl">
                            <small class="text-muted p-2">Provided By <a href="{{ item['provider_link'] }}" target="_blank">{{ item["offered_by"] }}</a></small>
                            {% if g.user %}
                                <a class="btn btn-outline-secondary ml-auto" id="save-item" href="#">Save</a>
                            {% else %}
                                <a class="btn btn-outline-secondary ml-auto" href="/auth/login">Save</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
 
    
{% endblock %}

{# {% include 'item_modal.html' %} #}
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#item-modal">
    Launch demo modal
</button> -->