{% extends 'index.html' %}

{% block header %}
    <div class="container text-center" style="margin-top: 80px;">
        <h1>{% block title %}
            {% if books %}
                Books
            {% elif articles %}
                Articles
            {% elif courses %}
                Courses
            {% elif tracks %}
                Learning Tracks
            {% elif user_catalog %}
                Welcome!
            {% endif %}
        {% endblock %}</h1>
    </div>
{% endblock %}

{% block content %}
{% if user_catalog %}    
    <div class="container text-center">
        <h5>Check Out Your Saved Items</h5>
    </div>
    {% if user_catalog_empty %}
        <div class="container text-center">
            <p>You haven't saved any items yet.</p>
        </div>
    {% endif %}
{% endif %}
<div class="container">
    <div class="row">
        {% for item in resources %}
            <div class="col-sm-4">
                <div class="card border-secondary" id="item-card">
                    <h5 class="card-header text-center" >{{ item["title"] }}</h5>
                
                    <div class="card-body">
                        <p class="card-text">{{ item["original_description"] }}</p>
                        <a href="{{ item['link'] }}" class="stretched-link" data-toggle="tooltip" title="Open the Resource" target="_blank"></a>
                        {% for tech in item['tech_stack'] %}
                            <span class="badge badge-info">{{ tech }}</span>
                        {% endfor %}
                       
                    </div>

                    <div class="card-footer" style="z-index: 2;">
                        <div class="d-flex m-2 cl">
                            <small class="text-muted p-2">Provided By <a href="{{ item['provider_link'] }}" target="_blank">{{ item["offered_by"] }}</a></small>
                            {% if g.user %}
                                {% set item_id = item['_id'] %}
                                {% if user_catalog %}
                                    <button class="btn btn-danger ml-auto" id="{{ item_id | string }}" onclick="removeItem( '{{ item_id }}' )">Remove</button>
                                {% elif item["saved"] %}
                                    <button class="btn btn-outline-secondary ml-auto" id="{{ item_id | string }}" onclick="saveItem( '{{ item_id }}' )" disabled>Saved</button>
                                {% elif not item["saved"] %}
                                    <button class="btn btn-outline-secondary ml-auto" id="{{ item_id | string }}" onclick="saveItem( '{{ item_id }}' )">Save</button>                              
                                {% endif %}
                            {% else %}
                                <a class="btn btn-outline-secondary ml-auto" href="/auth/login">Save</a>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
</div>
 
    
{% endblock %}

{# {% include 'item_modal.html' %} #}
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#item-modal">
    Launch demo modal
</button> -->