<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Home{% endblock %} | Open Source Library</title>
        <meta charset="utf-8">
        <link rel="icon" href="../static/images/library-new.png" type="image/png" sizes="16x16">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="../static/catalog.js"></script>

    </head>
    <body>
        
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <!-- Brand -->
          {% if g.user %}
            <a class="navbar-brand" href="/catalog">
              Open Source Library 
              <img src="../static/images/library-new.png" alt="Logo" width="35" height="35">
            </a>
          {% else %}
            <a class="navbar-brand" href="/">
              Open Source Library 
              <img src="../static/images/library-new.png" alt="Logo" width="35" height="35">
            </a>
          {% endif %}
          
        
          <!-- Links -->
          <ul class="navbar-nav mx-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Catalog
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/catalog/books">Books</a>
                <a class="dropdown-item" href="/catalog/articles">Articles</a>
                <a class="dropdown-item" href="/catalog/courses">Courses</a>
                <a class="dropdown-item" href="/catalog/tracks">Learning Tracks</a>
              </div>
            </li>
          </ul>
          
          <ul class="navbar-nav ">
            {% if g.user %}
              <li class="nav-item"><a class="nav-link" href="/catalog">Your Resources</a></li>
              <li class="nav-item"><a class="nav-link" href="/auth/logout">Log Out</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="/auth/login">Log In</a></li>
              <button class="btn btn-primary" type="submit" onclick="location.href = '/auth/register';">Register</button>
            {% endif %}
          </ul>
        </div>
      </nav>
      
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% block content %}
        <div class="container" id="landing-page">
          <div class="row" style="height: 100vh;">
            <div class="col-md-6 align-items-center">
              <div>
                <img alt="" class="img-fluid" src="../static/images/online-edu-short-name.png" />
              </div>
            </div>
            <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
              <div>
                {% if g.user %}
                  <h1>Welcome back!</h1>
                  <button class="btn btn-success" onclick="location.href = '/catalog';">Check your saved resources</button>
                {% else %}
                  <h2>Learn Tech Skills with Free<br> Open-Source Resources</h2>
                  <p class="margin-top-s">Text-based and video-based learning materials</p>
                  <button type="button" class="btn btn-success btn-lg" id="get-started" onclick="location.href = '/auth/register';">Get Started</button>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        
      {% endblock %}

      


    </body>

</html>


